@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap')
@import 'mixins'

html
  position: relative

body
  position: relative
  background-color: #111
  font-family: 'Russo One', sans-serif
  margin: 0
  overflow-x: hidden

  
.container
  margin: 0 auto
  padding: 0
  width: 100%
  max-width: 1200px
  background-color: #272727
  box-sizing: border-box

li
  list-style: none

.top-box
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%

  +bp(900px)
    flex-direction: column
    align-items: center
    justify-content: center

header
  display: flex

.logo
  width: 20%
  height: 240px
  color: #fff
  padding: 5px 25px
  text-align: center
  +bp(900px)
    width: 100%
    height: auto
  p
    margin: 0

.info-logo
  margin: auto
  height: 140px
  width: 140px
  background: url(../img/logo.png) center/cover no-repeat


.slider
  width: 80%
  +bp(900px)
    width: 100%
  .fotorama__wrap
    margin: auto
.fotorama__stage__frame 
  +bp(800px)
    height: 150px !important
.fotorama__stage
  +bp(800px)
    height: 150px !important
.nav
  .nav_list::before,
  .nav_list::after
    position: absolute
    content: ""
    width: 25px
    height: 25px
    top: 7px
    background: url(../img/imp.png) center/cover no-repeat
    +bp(700px)
      display: none
  .nav_list::after
    right: 10px
  .nav_list::before
    left: 10px

.nav_list
  position: relative
  display: flex
  justify-content: space-around
  margin: 0
  padding: 10px
  background-color: #B20000
  opacity: 0.8
  border: 2px solid black

  &__element:hover
    transition: 0.1s
    transform: scale(1.02)
    text-shadow: 3px 10px 10px black

  a
    color: #fff
    text-decoration: none


.wrapper
  .central-content
    padding: 30px 10px 30px 10px
    display: flex

    +bp(860px)
      flex-direction: column
      margin-left: 30px

    +bp(430px)
      margin-left: 10px

  .nav_list
    flex-direction: column
    width: 200px
    background-color: #111

    &__element
      padding: 10px 3px

    &__element:hover
      transition: 0.1s
      transform: scale(1.02)
      text-shadow: 2px 5px 10px red

    a
      color: white

  .left-nav
    position: relative
    display: flex
    flex-direction: column
    +bp(860px)
      margin-bottom: 0px

    .nav_list
      +bp(860px)
        opacity: 1
        background-color: #000

  .left-nav__global,
  .left-nav__dop
    +bp(860px)
      position: fixed 
      left: -300px
      opacity: 1

    .nav_list__element
      +bp(480px)
        padding: 3px 0
    

  .left-nav__global
    +bp(430px)
      top: 340px
    .nav_list
      +bp(860px)
        padding-top: 25px
  
  .left-nav__dop
    margin-top: 20px
    +bp(860px)
      margin-top: 0
      
    .nav_list
      background-color: #211919

.nav-title
  color: #f1f1f1
  text-shadow: 2px 5px 10px red

.nav-trigger 
  position: fixed
  cursor: pointer
  display: none
  color: white
  font-size: 25px
  top: 540px
  left: 5px
  width: 30px
  height: 30px
  z-index: 300
  +bp(860px)
    display: block

.nav-trigger_x
  position: fixed
  left: 5px
  top: 540px
  cursor: pointer
  width: 30px
  height: 30px
  z-index: 3
  background: url("../img/x-t.png") center/cover no-repeat

.right-content
  padding: 0 30px
  color: white
  +bp(700px)
    padding: 0 10px

  .site-inform
    border-bottom: 1px dotted red
    padding-bottom: 25px

  &__title
    font-size: 22px
    padding-bottom: 20px
    text-shadow: 3px 1px 2px #960808

  &__img
    margin: 20px 0

    img
      width: 100%
      height: auto

.news
  display: flex
  flex-direction: column
  +bp(900px)
    flex-direction: row
  +bp(600px)
    flex-direction: column

.news-anons
  display: flex
  padding: 20px 0
  +bp(900px)
    flex-direction: column
  
  &__title a
    text-decoration: none
    color: #fff
    font-size: 18px
    text-shadow: 0 0 2px red

  &__prew
    overflow: hidden
    width: 85%
    padding: 0 10px
    font-size: 14px
    +bp(900px)
      padding: 0

  &__img
    width: 200px
    height: 90px
    box-shadow: 0 0 1px red

    img
      width: 100%
      height: 100% 

.footer
  .nav_footer
    display: flex
    justify-content: space-around
    margin: 0
    padding: 10px
    background-color: #B20000
    border: 2px solid black

    &__element:hover
      transition: 0.1s
      transform: scale(1.02)
      text-shadow: 3px 10px 10px black

    a
      color: #fff
      text-decoration: none

  .foo-info
    padding: 10px
    font-size: 12px
    color: #777A66

.nav_list-v
  +bp(480px)
    flex-direction: column
  
  .nav_list__element
    padding: 5px 0