@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");
html {
  position: relative;
}

body {
  position: relative;
  background-color: #111;
  font-family: 'Russo One', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  background-color: #272727;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

.top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 900px) {
  .top-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  width: 20%;
  height: 240px;
  color: #fff;
  padding: 5px 25px;
  text-align: center;
}

@media (max-width: 900px) {
  .logo {
    width: 100%;
    height: auto;
  }
}

.logo p {
  margin: 0;
}

.info-logo {
  margin: auto;
  height: 140px;
  width: 140px;
  background: url(../img/logo.png) center/cover no-repeat;
}

.slider {
  width: 80%;
}

@media (max-width: 900px) {
  .slider {
    width: 100%;
  }
}

.slider .fotorama__wrap {
  margin: auto;
}

@media (max-width: 800px) {
  .fotorama__stage__frame {
    height: 150px !important;
  }
}

@media (max-width: 800px) {
  .fotorama__stage {
    height: 150px !important;
  }
}

.nav .nav_list::before,
.nav .nav_list::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  top: 7px;
  background: url(../img/imp.png) center/cover no-repeat;
}

@media (max-width: 700px) {
  .nav .nav_list::before,
  .nav .nav_list::after {
    display: none;
  }
}

.nav .nav_list::after {
  right: 10px;
}

.nav .nav_list::before {
  left: 10px;
}

.nav_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 10px;
  background-color: #B20000;
  opacity: 0.8;
  border: 2px solid black;
}

.nav_list__element:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  text-shadow: 3px 10px 10px black;
}

.nav_list a {
  color: #fff;
  text-decoration: none;
}

.wrapper .central-content {
  padding: 30px 10px 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 860px) {
  .wrapper .central-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30px;
  }
}

@media (max-width: 430px) {
  .wrapper .central-content {
    margin-left: 10px;
  }
}

.wrapper .nav_list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  background-color: #111;
}

.wrapper .nav_list__element {
  padding: 10px 3px;
}

.wrapper .nav_list__element:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  text-shadow: 2px 5px 10px red;
}

.wrapper .nav_list a {
  color: white;
}

.wrapper .left-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 860px) {
  .wrapper .left-nav {
    margin-bottom: 0px;
  }
}

@media (max-width: 860px) {
  .wrapper .left-nav .nav_list {
    opacity: 1;
    background-color: #000;
  }
}

@media (max-width: 860px) {
  .wrapper .left-nav__global,
  .wrapper .left-nav__dop {
    position: fixed;
    left: -300px;
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .wrapper .left-nav__global .nav_list__element,
  .wrapper .left-nav__dop .nav_list__element {
    padding: 3px 0;
  }
}

@media (max-width: 430px) {
  .wrapper .left-nav__global {
    top: 340px;
  }
}

@media (max-width: 860px) {
  .wrapper .left-nav__global .nav_list {
    padding-top: 25px;
  }
}

.wrapper .left-nav__dop {
  margin-top: 20px;
}

@media (max-width: 860px) {
  .wrapper .left-nav__dop {
    margin-top: 0;
  }
}

.wrapper .left-nav__dop .nav_list {
  background-color: #211919;
}

.nav-title {
  color: #f1f1f1;
  text-shadow: 2px 5px 10px red;
}

.nav-trigger {
  position: fixed;
  cursor: pointer;
  display: none;
  color: white;
  font-size: 25px;
  top: 540px;
  left: 5px;
  width: 30px;
  height: 30px;
  z-index: 300;
}

@media (max-width: 860px) {
  .nav-trigger {
    display: block;
  }
}

.nav-trigger_x {
  position: fixed;
  left: 5px;
  top: 540px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 3;
  background: url("../img/x-t.png") center/cover no-repeat;
}

.right-content {
  padding: 0 30px;
  color: white;
}

@media (max-width: 700px) {
  .right-content {
    padding: 0 10px;
  }
}

.right-content .site-inform {
  border-bottom: 1px dotted red;
  padding-bottom: 25px;
}

.right-content__title {
  font-size: 22px;
  padding-bottom: 20px;
  text-shadow: 3px 1px 2px #960808;
}

.right-content__img {
  margin: 20px 0;
}

.right-content__img img {
  width: 100%;
  height: auto;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 900px) {
  .news {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 600px) {
  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news-anons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

@media (max-width: 900px) {
  .news-anons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news-anons__title a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-shadow: 0 0 2px red;
}

.news-anons__prew {
  overflow: hidden;
  width: 85%;
  padding: 0 10px;
  font-size: 14px;
}

@media (max-width: 900px) {
  .news-anons__prew {
    padding: 0;
  }
}

.news-anons__img {
  width: 200px;
  height: 90px;
  -webkit-box-shadow: 0 0 1px red;
          box-shadow: 0 0 1px red;
}

.news-anons__img img {
  width: 100%;
  height: 100%;
}

.footer .nav_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 10px;
  background-color: #B20000;
  border: 2px solid black;
}

.footer .nav_footer__element:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  text-shadow: 3px 10px 10px black;
}

.footer .nav_footer a {
  color: #fff;
  text-decoration: none;
}

.footer .foo-info {
  padding: 10px;
  font-size: 12px;
  color: #777A66;
}

@media (max-width: 480px) {
  .nav_list-v {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav_list-v .nav_list__element {
  padding: 5px 0;
}
/*# sourceMappingURL=style.css.map */