@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
a {
  text-decoration: none;
  color: #fff;
}

a:hover, a:visited {
  color: black;
}

body {
  margin: 0 auto;
  font-size: 16px;
  font-family: Roboto;
  margin-bottom: 100px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px #ddd;
          box-shadow: 0px 1px 3px #ddd;
  background-color: #fff;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0 16px 0;
}

@media (max-width: 1200px) {
  .navigation {
    padding: 24px 20px 16px 20px;
  }
}

@media (max-width: 700px) {
  .navigation {
    padding: 24px 0 16px 0;
  }
}

.navigation .header-navigation,
.navigation .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .header-navigation {
  font-size: 15px;
  line-height: 24px;
}

@media (max-width: 700px) {
  .navigation .header-navigation {
    margin: auto;
  }
}

.navigation .header-navigation__element {
  padding-right: 50px;
}

@media (max-width: 700px) {
  .navigation .header-navigation__element {
    display: none;
  }
}

.navigation .header-navigation .ubcoin-logo {
  display: block;
  width: 94px;
  height: 17px;
  color: #32BB8F;
  font-weight: 700;
  padding-right: 75px;
  padding-top: 5px;
}

@media (max-width: 700px) {
  .navigation .header-navigation .ubcoin-logo {
    padding-right: 0;
  }
}

.hamburger {
  padding-right: 20px;
  padding-top: 4px;
  padding-left: 35px;
}

@media (max-width: 700px) {
  .hamburger {
    margin-right: 0;
    padding-left: 0;
  }
}

.search {
  margin-left: auto;
}

@media (max-width: 700px) {
  .search {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 15px;
  }
}

.content-block {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 950px) {
  .content-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
  }
}

.content-block__element {
  width: 50%;
}

@media (max-width: 950px) {
  .content-block__element {
    width: 100%;
  }
}

.content-block .slider {
  position: relative;
  padding-right: 140px;
}

@media (max-width: 1200px) {
  .content-block .slider {
    padding-right: 70px;
    padding-left: 40px;
  }
}

@media (max-width: 950px) {
  .content-block .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

.content-block .slider .ct-zoom {
  position: absolute;
  top: 590px;
  opacity: 0.5;
  color: #242424;
  font-family: Roboto;
  font-size: 12px;
}

@media (max-width: 1200px) {
  .content-block .slider .ct-zoom {
    top: 490px;
  }
}

@media (max-width: 950px) {
  .content-block .slider .ct-zoom {
    display: none;
  }
}

.fotorama__nav {
  text-align: left !important;
}

@media (max-width: 1200px) {
  .fotorama__wrap {
    hieght: 400px !important;
    width: 400px !important;
  }
}

@media (max-width: 700px) {
  .fotorama__wrap {
    hieght: 320px !important;
    width: 320px !important;
  }
}

.item-inform {
  padding: 0px 40px 0 20px;
}

@media (max-width: 950px) {
  .item-inform {
    padding-top: 16px;
  }
}

@media (max-width: 700px) {
  .item-inform {
    padding: 20px 10px;
  }
}

.item-inform .dop {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  color: #32BB8F;
}

.item-inform .dop .share {
  position: absolute;
  color: #32BB8F;
  right: 30px;
  top: 35px;
  text-alight: right;
  z-index: 1;
}

@media (max-width: 1100px) {
  .item-inform .dop .share {
    top: 0;
  }
}

@media (max-width: 700px) {
  .item-inform .dop .share {
    right: 0;
  }
}

.item-inform .dop .logo-svg {
  position: absolute;
  display: inline-block;
  top: 2px;
  left: -19px;
}

.item-inform .title {
  position: relative;
  font-family: Palanquin Dark;
  font-size: 30px;
  line-height: 40px;
  color: #242424;
  font-weight: 400;
}

.item-inform .title::after {
  position: absolute;
  content: "";
  width: 317px;
  top: 110px;
  left: 0;
  opacity: 0.2;
  border: 1px solid #242424;
}

@media (max-width: 450px) {
  .item-inform .title::after {
    width: 95%;
  }
}

.item-inform .dop-info {
  padding-top: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

@media (max-width: 450px) {
  .item-inform .dop-info {
    font-size: 20px;
  }
}

.item-inform .text-inf {
  padding-top: 25px;
  font-family: Roboto;
}

.item-inform .text-inf p {
  margin: 16px 0;
}

.property-element {
  position: relative;
  line-height: 24px;
  margin: 30px 0;
}

.property-element .property {
  opacity: 0.5;
}

.property-element p {
  margin: 5px 0;
}

.property-element .showLocation {
  top: 29px;
  right: 0;
  position: absolute;
  color: #32BB8F;
  text-decoration: none;
}

@media (max-width: 600px) {
  .property-element .showLocation {
    position: relative;
    top: 3px;
  }
}

.seller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F5F7F6;
  padding: 13px;
  border-radius: 6px;
}

.seller__photo {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background: url(../img/seller.jpg) center/cover no-repeat;
}

.seller__info {
  margin-left: 25px;
}

.seller__info .items {
  opacity: 0.5;
}

.location {
  margin-bottom: 10px;
}

.map {
  background: url(../img/map.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 400px;
}

@media (max-width: 1100px) {
  .map {
    min-height: 350px;
  }
}

@media (max-width: 600px) {
  .map {
    min-height: 200px;
  }
}
/*# sourceMappingURL=style.css.map */